body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
  flex-direction: column;
  color: #333;
}
h1 {
  color: #333;
}

.container {
  text-align: center;
  max-width: 90vw;
  width: 50vw;
  background: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0rem 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

input {
  padding: 1em;
  width: 90%;
  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: 1px solid #008080;
  text-align: center;
}

input:focus {
  border: 1px solid #008080;
  outline: none;
}

button {
  padding: 1em 2em;
  font-size: 1.2em;
  border: none;
  background-color: #008080;
  color: white;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: rgb(72, 164, 164);
}

button:active {
  background-color: rgb(23, 51, 51);
  transition: background 0.3s ease;
}

.results {
  margin-top: 2em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.loading {
  display: none;
  font-size: 1.5em;
  font-weight: bold;
  
  margin-top: 2em;
}

.results p {
  margin: 0.25em 0;
}

#checkBalance {
  font-size: 1em;
}
